{
  "endOfLine": "lf",
  "printWidth": 120,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
